.popupProvider {
  width: max-content;
  position: fixed;
  top: 0;
  left: 0;
}

.popupProvider::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - var(--arrowOffset));
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.leftArrow::before {
  left: -8px !important;
  bottom: 0 !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  border-right: 8px solid #222425 !important;
  border-top: 8px solid transparent !important;
  border-bottom: 8px solid transparent !important;
  border-left: 0 !important;
}

.rightArrow::before {
  right: -8px !important;
  bottom: unset !important;
  left: unset !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  border-left: 8px solid #222425 !important;
  border-top: 8px solid transparent !important;
  border-bottom: 8px solid transparent !important;
  border-right: 0 !important;
}

.bottomArrow::before {
  left: 50% !important;
  bottom: unset !important;
  top: -8px !important;
  transform: translateX(-50%) !important;
  border-bottom: 8px solid #222425 !important;
  border-left: 8px solid transparent !important;
  border-right: 8px solid transparent !important;
  border-top: 0 !important;
}

.popupProviderDefaultStyles {
  background: #222425;
  box-shadow: 0px 16px 18px rgba(77, 77, 77, 0.11);
  border-radius: 10px;
  padding: 8px 16px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 147.69%;
  text-align: center;
  color: #FFFFFF;
}

.popupProviderDefaultStyles::before {
  border-top: 8px solid #222425;
  bottom: -8px;
  transform: translateX(-50%);
}

.popupProviderDefaultArrowHide::before {
  display: none;
}