.tabs {
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
  padding: .5rem 0;
}

.tabs > li {
  padding: .5rem 1rem;
  position: relative;
  color: #ccc;
  cursor: pointer;
}

.activeTab {
  color: aqua !important;
}

.activeTab::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background: aqua;
}

.tabContent {
  padding-top: 1rem;
}